.sidepanel{
  background: #f1f1f1;
  position: absolute;
  left: 0;
  width: 300px;
  height: calc(100% - 56px);
  padding: 0px 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.workspace-title{
  background-color: grey;
  width: 300px;
}

.explorer{
  font-size: 18px;
}