.sidepanel{
  background: #f1f1f1;
  position: relative;
  width: 18.75em;
  overflow-x: hidden;
  overflow-y: auto;
}

.workspace-title{
  background-color: grey;
  width: 18.75em;
}

.explorer{
  font-size: 18px;
}

.inline-menu{
  float: right;
  color: black;
}